.fireContainer {
  justify-content: center;
  align-items: center;
  transform: scaleX(0.95) scaleY(0.7);
  position: relative;

  width: 71%;
  opacity: 1;
  height: 29%;
  top: 7%;
  left: 4%;
}
.border {
  border-radius: 35% 65% 49% 51% / 51% 36% 64% 49%;
}
.mo_fire {
  position: absolute;
  top: -100px;
  margin-right: 7px;
  width: 50px;
  height: 50px;
}

.mo_fire svg {
  width: 100%;
  height: auto;
  position: relative;
}
.flame {
  animation-name: flamefly;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0;
  transform-origin: 50% 50% 0;
}
.flame.one {
  animation-delay: 1s;
  animation-duration: 3s;
}
.flame3.two {
  animation-duration: 5s;
  animation-delay: 1s;
}

.flame_main {
  animation-name: flameWobble;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.flame_main.one {
  animation-duration: 4s;
  animation-delay: 1s;
}
.flame_main.two {
  animation-duration: 3s;
  animation-delay: 2s;
}
.flame_main.three {
  animation-duration: 2.1s;
  animation-delay: 3s;
}
.flame_main.four {
  animation-duration: 3.2s;
  animation-delay: 4s;
}
.flame_main.five {
  animation-duration: 2.5s;
  animation-delay: 5s;
}
@keyframes flameWobble {
  50% {
    transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg);
  }
}
@keyframes flamefly {
  0% {
    transform: translate(0) rotate(180deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-20px, -100px) rotate(180deg);
    opacity: 0;
  }
}
